<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angular Buttons Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="js/buttons.js"></script>
</head>
<body ng-app="buttonApp">

<div class="container">

  <div ng-controller="buttonCtrl">
    <form >
      <div class="form-group" >
        <button type="button" ng-click="showButtonMenu()" class="btn btn-primary">Add Button</button>
      </div>
      <div ng-show="displayButtonForm">
        <div class="form-group">
          <label for="buttonName">Button Name : </label>
          <input type="text" ng-model="button.name" class="form-control" id="buttonName" placeholder="Enter Name of the Button" name="buttonName">
        </div>
        <div class="form-group">
          <label for="buttonTarPage">Target Page :</label>
          <input type="text" ng-model="button.targetPage" class="form-control" id="buttonTarPage" placeholder="Enter Target Page" name="buttonTarPage">
        </div>

        <button type="button"  ng-click="addButton()" class="btn btn-default">Add</button>
        <button type="button"  ng-click="cancelButton()" class="btn btn-default">Cancel </button>
      </div>
    </form>
    <div>
        <div ng-repeat="(key,value) in buttons">
              <span>{{value.text}} </span><span>{{value.targetPage}}</span>
        </div>
    <div>
  </div>
</div>

</body>
</html>
(function() {
  "use strict";
  var app=angular.module("buttonApp",[]);

  app.controller("buttonCtrl",function($scope){
      $scope.displayButtonForm=false;
      $scope.buttons={};
      $scope.addButton=function(){
        console.log("adding the button ");
        $scope.buttons[$scope.button.name]={
            "text": $scope.button.name,
            "targetPage" : $scope.button.targetPage
        };
    };

    $scope.showButtonMenu=function(){
      console.log("show menu is called");
          $scope.displayButtonForm=!$scope.displayButtonForm;
    };

  });


})();
